*.o
all_headers.h
*.root
*.png
Output/
2021Analysis
*.pdf
*.hbk
*.card
MCGenerator/script/*.csh
MCGenerator/card
MCGenerator/card/
MCGenerator/ene/
MCGenerator/err/
MCGenerator/log/
MCGenerator/script/
MCGenerator/test6MeV/
.DS_store
.dir-locals.el
.clang-format
*#
compile_flags.txt
.dir-locals.el
